.recipe-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-page-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}