/*Main*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

/*Header*/
.recipe-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-changer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    padding-bottom: 0;
}

.recipe-changer > * {
    padding: 0 50px 0 50px;
    margin: 0;
}

.recipe-changer > a > i {
    font-size: 50px;
}

h2 {
    font-size: 50px;
}

.recipe-rating-figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
    padding-top: 0;
}

/*Image and Description*/
.recipe-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 25px 0;
}

.recipe-description {
    margin: 50px 0 50px 0;
    font-size: 20px;
    text-align: center;
}

.eval-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray; /*placeholder color*/
    width: 100%;
}

.eval-btns button {
    font-size: 20px;
    padding: 8px 20px 8px 20px;
}

/*Recipe*/
.actual-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredients-columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray; /*placeholder color*/
    width: 100%;
}

.ingredients li {
    width: 100%;
    display: flex;
    padding: 2px 0 2px 0;
}

.ingredients span {
    padding: 0 5px 0 5px;
    margin-right: 5px;
    width: 60px;
    border: solid 1px black;
    box-shadow: 1px 1px 2px darkgray;
    text-align: center;
}

ul {
    list-style-type: none;
}

.preparation {
    background-color: gray; /*placeholder color*/
}

/*Comment Section*/
.user-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-and-stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}