<nav class="footer-links">
    <a href="#">About Us</a>
    <a href="#">Contact Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Service</a>
    <a href="#">License</a>
</nav>
<nav class="footer-social">
    <!--Mockup Links-->
    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook" aria-label="Facebook"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter" aria-label="Twitter"></i></a>
    <a href="#"><i class="fa-brands fa-instagram" aria-label="Instagram"></i></a>

    <!--Author Links-->
    <a href="https://github.com/SaraFreitas02"><i class="fa-brands fa-github"
            aria-label="Project Author's GitHub"></i></a>
    <a href="https://www.linkedin.com/in/sara-freitas-02575b31b/"><i class="fa-brands fa-linkedin"
            aria-label="Project Author's LinkedIn"></i></a>
</nav>
<div class="footer-credits">
    <p>&copy; 2025 Sara Freitas</p>
    <p>This is a demonstration project for a recipe website.</p>
</div>