<section class="banner" id="banner">
    <div class="brand" id="brand">
      <i class="fa-solid fa-stroopwafel" aria-hidden="true"></i>
      <a href="../index.html">
        <h1>din Recipes</h1>
      </a>
    </div>
    <div class="header-btns">
      <button class="account-btn" type="button"><i class="fa-solid fa-user" aria-label="My Account"></i></button>
      <div class="header-search">
        <input type="search" placeholder="What are you craving?" />
        <button type="button"><i class="fa-solid fa-magnifying-glass" aria-label="Search a Recipe"></i></button>
      </div>
    </div>
  </section>